<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top View</title>
    <script src="https://code.jquery.com/jquery-1.12.4.js" ></script>
    <!-- CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel='shortcut icon' type='image/x-icon' href='image/favicon.ico' />
    <link href="css/home.css" type="text/css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154408351-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154408351-1');
    </script>
</head>
<body class="container">

<main>
    <!--<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Top View</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="/submit">Upload</a></li>
                <li><a href="#">Page 2</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>-->
    <div>
        <h2 style="color: #0099DD;"><strong>Top View</strong></h2>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/submit">Upload</a></li>
        <li role="presentation"><a href="/projects">My projects</a></li>
    </ul>
    <a href="/auth/google" id="signIn">Sign In with Google</a>
    <br>
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Project Name</th>
            <th scope="col">File Name</th>
            <th scope="col">Project Status</th>
            <th scope="col">Envelope Status</th>
            <th scope="col">Description</th>
            <th scope="col">Project Link</th>
            <th scope="col">Upload Time</th>
            <th scope="col">Envelope File</th>
        </tr>
        </thead>



        <% for (var i = 0; i < projects.length; i++) { %>
            <tr>
                <td scope="row"><%= i+1%></td>
                <td><%= projects[i].projectName %></td>
                <td><%= projects[i].fileName %></td>
                <td><%= projects[i].projectStatus %></td>
                <td><%= projects[i].envStatus %></td>
                <td><%= projects[i].description %></td>
                <td><a href="<%= projects[i].projectLink %>">Link</a> </td>
                <td><%= projects[i].uploadTime %></td>
                <td><%= projects[i].envelopeFile %></td>
            </tr>
        <% } %>

    </table>
</main>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>