<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="js/spectrum_graph/invokespectrum.js" ></script>
	<script src="js/spectrum_graph/spectrumparameters.js" ></script>
	<script src="js/spectrum_graph/spectrumgraph.js" ></script>
	<script src="js/spectrum_graph/spectrumdownload.js" ></script>
	<script src="js/download/FileSaver.js"></script>
	<script src="js/download/saveImage.js"></script>
	<link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body class="container">

	<main>
		<div class="jumbotron">
			<div>
				<span class="projectsummary">
					<span class="projectsummary">
						<strong>Project Name:</strong> <%= summary.ProjectName %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					</span>
					<span class="projectsummary">
						<strong>File Name:</strong> <%= fileName %>
					</span>
				</span>
				<ul id="projectsummary">
					<!--				<li>Project Status: <%= summary.ProjectStatus %></li>-->
					<!--				<li>Email Address: <%= summary.EmailAddress %></li>-->

					<!--				<li>Scan Range: <%= scanRange.MIN %> - <%= scanRange.MAX %></li>-->
				</ul>
			</div>

			<hr>

			<div id="input">
				<p class="scanleveltitle"><strong>Scan Range:<%= scanRange.MIN %> - <%= scanRange.MAX %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for="scanID">Scan within Scan Range:&nbsp;&nbsp;</label>
					<input type="text" id="scanID" name="scanID" min=<%= scanRange.MIN %> max=<%= scanRange.MAX %>>
					<button type="submit" id="request">Request</button></p>
				<p class="scanleveltitle">RT:<span id="rt-hover">0</span>&nbsp;&nbsp;&nbsp;&nbsp;Intensity:<span id="intensity-hover">0</span>&nbsp;&nbsp;&nbsp;&nbsp;Scan:<span id="scan-hover">0</span></p>
				<input type="hidden" id="projectCode" name="projectCode" value="<%= projectCode %>">
				<input type="hidden" id="projectDir" name="projectDir" value="<%= projectDir %>">
				<input type="hidden" id="rangeMin" value=<%= scanRange.MIN %>>
				<input type="hidden" id="rangeMax" value=<%= scanRange.MAX %>>

			</div>
			<div id="rt-sum">

			</div>
			<hr>
			<div id="scanLevelOne">
				<p class="scanleveltitle">
					<b>Scan Level 1</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span id="scanid1">
						Scan:
						<span id="scanID1"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Retention Time: <span id="scan1RT"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="submit" id="prev1">Previous</button>
						<button type="submit" id="next1">Next</button>
					</span>
				</p>
				<p class="scanleveltitle">
				</p>
				<br />
				<svg id="spectrum1"></svg><br />

			</div>
			<hr>
			<div id="scanLevelTwo">
				<p class="scanleveltitle" id="scanLevelTwoInfo">
					<b>Scan Level 2</b>&nbsp;&nbsp;&nbsp;&nbsp;
					Scan:<span id="scanID2"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					Precursor MZ:<span id="prec_mz"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					Precursor Charge:<span id="prec_charge"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					Precursor Intensity:<span id="prec_inte"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					Retention Time:<span id="rt"></span>
				</p>
				<p class="scanleveltitle">
					<span id = "noScanLevelTwo"><strong>No Scan Level 2</strong></span>
				</p>
				<div id="tabs">
					<ul id="tabList">
					</ul>
					<svg id="spectrum2"></svg>
				</div>

			</div>
		</div>
	</main>
	<script type="text/javascript" src="js/dataVisualization.js"></script>
</body>
</html>