<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
<!--	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>-->
	<script src="https://code.jquery.com/jquery-1.12.4.js" ></script>
	<script
			src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
			integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
			crossorigin="anonymous"></script>
	<script src="https://d3js.org/d3.v5.min.js"></script>
	<script src="js/spectrum_graph/invokespectrum.js" ></script>
	<script src="js/spectrum_graph/spectrumparameters.js" ></script>
	<script src="js/spectrum_graph/spectrumgraph.js" ></script>
	<script src="js/spectrum_graph/spectrumdownload.js" ></script>

	<script src="js/download/FileSaver.js"></script>
	<script src="js/download/saveImage.js"></script>

	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

<!--
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/sc-2.0.1/sl-1.3.1/datatables.min.css"/>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.20/b-1.6.1/b-html5-1.6.1/sc-2.0.1/sl-1.3.1/datatables.min.js"></script>
-->
	<link rel="stylesheet" href="css/jquery-ui.min.css">
</head>
<body class="container">

	<main>
		<div class="jumbotron">
			<div>
				<span class="projectsummary">
					<span class="projectName">
						<strong>Project Name:</strong> <%= summary.ProjectName %>
					</span>
					<div>
					<span class="fileName">
						<strong>mzML File:</strong> <%= fileName %>
					</span>
					<span class="ms1EnvFile">
						<strong>MS2 Envelope File:</strong> <span id="envelopeFile"><%= summary.MS1_envelope_file %></span>
					</span>
					</div>
				</span>
				<ul id="projectsummary">
					<!--				<li>Project Status: <%= summary.ProjectStatus %></li>-->
					<!--				<li>Email Address: <%= summary.EmailAddress %></li>-->

					<!--				<li>Scan Range: <%= scanRange.MIN %> - <%= scanRange.MAX %></li>-->
				</ul>
			</div>

			<hr>

			<div id="input">
				<p class="scanleveltitle"><strong>Scan Range:<%= scanRange.MIN %> - <%= scanRange.MAX %></strong> <label for="scanID" id="scanRange">Scan within Scan Range:</label>
					<input type="text" id="scanID" name="scanID" min=<%= scanRange.MIN %> max=<%= scanRange.MAX %>>
					<button type="submit" id="request">Request</button></p>
				<p class="scanleveltitle">RT:<span id="rt-hover">0</span>&nbsp;&nbsp;&nbsp;&nbsp;Intensity:<span id="intensity-hover">0</span>&nbsp;&nbsp;&nbsp;&nbsp;Scan:<span id="scan-hover">0</span></p>
				<input type="hidden" id="projectCode" name="projectCode" value="<%= projectCode %>">
				<input type="hidden" id="projectDir" name="projectDir" value="<%= projectDir %>">
				<input type="hidden" id="rangeMin" value=<%= scanRange.MIN %>>
				<input type="hidden" id="rangeMax" value=<%= scanRange.MAX %>>

			</div>
			<div id="rt-sum">

			</div>
			<hr>
			<div id="scanLevelOne">
				<p class="scanleveltitle">
					<b>Scan Level 1</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span id="scanid1">
						Scan:
						<span id="scanID1"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						Retention Time: <span id="scan1RT"></span>
						<button type="submit" id="prev1">Previous</button>
						<button type="submit" id="next1">Next</button>
					</span>
				</p>
				<p class="scanleveltitle">
				</p>
				<br />
				<svg id="spectrum1"></svg><br />

			</div>
			<hr>
			<div id="scanLevelTwo">
				<p class="scanleveltitle" id="scanLevelTwoInfo">
					<b>Scan Level 2</b>&nbsp;&nbsp;&nbsp;&nbsp;
					Scan:<span id="scanID2"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					Precursor MZ:<span id="prec_mz"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					Precursor Charge:<span id="prec_charge"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					Precursor Intensity:<span id="prec_inte"></span>&nbsp;&nbsp;&nbsp;&nbsp;
					Retention Time:<span id="rt"></span>
				</p>
				<p class="scanleveltitle">
					<span id = "noScanLevelTwo"><strong>No Scan Level 2</strong></span>
				</p>
				<div id="tabs">
					<ul id="tabList">
					</ul>
					<svg id="spectrum2"></svg>
				</div>

			</div>
			<br>
			<hr>
			<div id="envInfo">
				<p class="scanleveltitle" id="scanLevelTwoInfo">
					<b>Envelope Table</b>&nbsp;&nbsp;&nbsp;&nbsp;
					<span id="msType"></span> Scan: <span id="envScan"></span>
					<button id="switch">MS1</button>
					<button id="hide">Hide</button>
				</p>
				<div id="datatable">
				<table id="envTable" class="display" style="width:100%">
					<thead>
					<tr>
<!--						<th></th>-->
						<th>Envelope ID</th>
						<th>Scan</th>
						<th>Charge</th>
						<th>Theo Mono Mass</th>
						<th>Theo Inte Sum</th>
						<th>Mono M/Z</th>
					</tr>
					</thead>
					<!--<tfoot>
					<tr>
						<th>Scan</th>
						<th>Charge</th>
						<th>Theo Mono Mass</th>
						<th>Mono M/Z</th>
					</tr>
					</tfoot>-->
				</table>
				</div>
			</div>
		</div>
	</main>
	<!--<script src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.js" ></script>
	<script src="https://cdn.datatables.net/buttons/1.1.2/js/dataTables.buttons.js" ></script>
	<script src="https://cdn.datatables.net/select/1.1.2/js/dataTables.select.js" ></script>
	<script src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.js" ></script>-->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" ></script>
	<script type="text/javascript" src="js/dataVisualization.js"></script>
	<script src="js/dataTables.altEditor.free.js"></script>
</body>
</html>