<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top View Projects</title>

    <!-- CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154408351-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154408351-1');
    </script>
</head>
<body class="container">

<main>
    <h2>Projects</h2>

    <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Project Name</th>
            <th scope="col">File Name</th>
            <th scope="col">Project Link</th>
            <th scope="col">Upload Time</th>
            <th scope="col">Envelope File</th>
        </tr>
        </thead>



        <% for (var i = 0; i < projects.length; i++) { %>
            <tr>
                <td scope="row"><%= i+1%></td>
                <td><%= projects[i].projectName %></td>
                <td><%= projects[i].fileName %></td>
                <td><a href="<%= projects[i].projectLink %>">Link</a> </td>
                <td><%= projects[i].uploadTime %></td>
                <td><%= projects[i].envelopeFile %></td>
            </tr>
        <% } %>

    </table>
</main>

</body>
</html>