<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopMSV</title>
	<script src="js/jquery-3.6.0.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel='shortcut icon' type='image/x-icon' href='image/favicon.ico' />
    <link href="css/projects.css" type="text/css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154408351-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154408351-1');
    </script>
</head>
<body class="container">

<main>
    <div id="statusModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Task Status</h4>
                </div>
                <div class="modal-body">
                    <p style="white-space: pre-line" id="task-status-para"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <h2 style="color: #0099DD;"><strong>TopMSV</strong></h2>
        </div>
        <!--<div class="col-sm-1">
            <a href="http://toppic.org/software/topmsv/tutorial.html" id="tutorial" class="home-menu">Tutorial</a>
        </div>
        <div class="col-sm-1">
            <a href="/auth/google" id="signIn" class="home-menu">Sign In</a>
        </div>-->
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="http://toppic.org/software/topmsv/tutorial.html" id="tutorial" class="home-menu">Tutorial</a>
                </div>
                <div class="col-sm-6">
                    <a href="/auth/google" id="signIn" class="home-menu">Sign In</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p id="login-user-info"><%= loginMessage %></p>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="/">Home</a></li>
        <li role="presentation"><a href="/submit">Upload</a></li>
        <li role="presentation"><a href="/projects">My projects</a></li>
        <li role="presentation" class="active"><a href="/tasks">Tasks</a></li>
    </ul>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">Task ID</th>
                <th style="display:none" scope="col">Project Code</th>
                <th scope="col">Project Name</th>
                <th scope="col">File Name</th>
                <th scope="col">App</th>
                <th scope="col">Status</th>
                <th scope="col">Project Link</th>
                <th scope="col">Start Time</th>
            </tr>
            </thead>

            <% for (var i = 0; i < taskData.length; i++) { %>
                <tr>
                    <td class="taskId"><%= taskData[i].taskId %></td>
                    <td style="display:none" class="projectCode"><%= taskData[i].projectCode %></td>
                    <td><%= taskData[i].projectName %></td>
                    <td><%= taskData[i].fileName %></td>
                    <td><%= taskData[i].appName %></td>
                    <td onclick="showTaskStatus('<%= taskData[i].taskId %>', '<%= taskData[i].projectCode %>')"><a style="cursor:pointer"><%= taskData[i].status %></a></td>
                    <td><a href="<%= taskData[i].projectLink %>">Link</a> </td>
                    <td><%= taskData[i].startTime %></td>
                </tr>
            <% } %>

        </table>
    </div>
    <h5 style="text-align:right">Click <a href="">here</a> to refresh the page.</h5>

</main>
<script type="text/javascript" src="js/tasks.js"></script>
</body>
</html>