<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopMSV</title>
	<script src="lib/js/jquery-3.6.0.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="lib/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="lib/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="lib/js/bootstrap.min.js"></script>

    <link rel='shortcut icon' type='image/x-icon' href='image/favicon.ico' />
    <link href="css/home.css" type="text/css" rel="stylesheet" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154408351-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-154408351-1');
    </script>
</head>
<body class="container">

<main>
    <div class="row">
        <div class="col-sm-10">
            <h2 style="color: #0099DD;"><strong>TopMSV</strong></h2>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-12">
                    <p></p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a href="http://toppic.org/software/topmsv/tutorial.html" id="tutorial" class="home-menu">Tutorial</a>
                </div>
                <div class="col-sm-6">
                    <a href="" onClick="callAuthentication(event)" id="signIn" class="home-menu">Sign In</a>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p id="login-user-info"><%= loginMessage %></p>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/submit">Upload</a></li>
        <li role="presentation"><a href="/projects">My projects</a></li>
        <li role="presentation"><a href="/tasks">Tasks</a></li>
        <li role="presentation"><a href="/inspect">Manual inspection</a></li>
    </ul>
    <br>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Project Name</th>
                <th scope="col">File Name</th>
                <th scope="col">Project Status</th>
                <th scope="col">Envelope Status</th>
				<th scope="col">Feature Status</th>
                <th scope="col">Sequence Status</th>
                <th scope="col">Description</th>
                <th scope="col">Project Link</th>
                <th scope="col">Upload Time</th>
            </tr>
            </thead>



            <% for (var i = 0; i < projects.length; i++) { %>
                <tr>
                    <td scope="row"><%= i+1%></td>
                    <td><%= projects[i].projectName %></td>
                    <td><%= projects[i].fileName %></td>
                    <td><%= projects[i].projectStatus %></td>
                    <td><%= projects[i].envStatus %></td>
					<td><%= projects[i].featureStatus %></td>
                    <td><%= projects[i].seqStatus %></td>
                    <td><%= projects[i].description %></td>
                    <td><a href="<%= projects[i].projectLink %>">Link</a> </td>
                    <td><%= projects[i].uploadTime %></td>
                </tr>
            <% } %>

        </table>
    </div>
    <p style="display:none" id="auth-value"><%= auth %></p>
    <p style="display:none" id="isAuthorized">false</p>
</main>
<script src="lib/js/axios.min.js"></script>
<script type="text/javascript" src="js/util.js"></script>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>